body {
    background-color:#FFE2E2;
}
h1 ,h2 {
    color: #276277;
}
.fs-35 {
    font-size: 35px;
}
.fs-25 {
    font-size: 25px;
}
.linkler {
    border:dotted;
    border-width: 2px;
    border-radius: 15px;
    font-weight: bold;
    padding: 5px;
    background-color: #A8D8EA;
}

h1, h2, nav {
    text-align: center;
}
.first_li {
    font-size: 18px;
    border: double;
    background-color:gainsboro;
    font-weight: bold;
    color: #62acc7;
}
img {
    padding: 10px;
}